[class*="wpo-"] {
  box-sizing: border-box;
}

[class*="wpo-col-"] {
  flex:          0 0 auto;
  flex-basis:    100%;
  padding-right: $half-gutter-width;
  padding-left:  $half-gutter-width;
  max-width:     100%;

  &.wpo-reverse {
    flex-direction: column-reverse;
  }
}