.wpo-container {
  margin-left:   auto;
  margin-right:  auto;
  padding-right: $half-gutter-width;
  padding-left:  $half-gutter-width;
  max-width:     100%;

  @include wpo_respond_to_sm() {
    width: calc(#{$sm-min} - #{$gutter-width});
  }

  @include wpo_respond_to_md() {
    width: calc(#{$md-min} - #{$gutter-width});
  }

  @include wpo_respond_to_lg() {
    width: calc(#{$lg-min} - #{$gutter-width});
  }

  @include wpo_respond_to_xl() {
    width: calc(#{$xl-min} - #{$gutter-width});
  }
}

.wpo-container-fluid {
  padding-right: $gutter-width;
  padding-left:  $gutter-width;
}

