.wpo-row {
  display:        flex;
  flex:           0 1 auto;
  flex-direction: row;
  flex-wrap:      wrap;
  margin-right:   $gutter-compensation;
  margin-left:    $gutter-compensation;

  &.wpo-reverse {
    flex-direction: row-reverse;
  }

  > .wpo-no-gutters {
    margin-right: 0;
    margin-left:  0;

    > .wpo-col, > [class*="wpo-col-"] {
      padding-right: 0;
      padding-left:  0;
    }
  }
}