
.wpo-row {
  box-sizing:     border-box;
  display:        flex;
  flex:           0 1 auto;
  flex-direction: row;
  flex-wrap:      wrap;
  margin-right:   $gutter-compensation;
  margin-left:    $gutter-compensation;

  &.wpo-reverse {
    flex-direction: row-reverse;
  }
}